fastapi
uvicorn
pydantic==2.9.2
python-jose
passlib
python-multipart
python-dotenv
langchain
openai
psycopg2-binary
pydantic[email]
typing-extensions
bcrypt==4.0.1
PyJWT
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
pdf2image
pytesseract
pillow
aiofiles
supabase>=2.3.1
